@import url('https://fonts.googleapis.com/css?family=Acme|Indie+Flower|Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    top: -150px;
}
body{
    color: rgb(119, 119, 119);
}
h1{
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-size-adjust: 120%;
}
h3{
    font-family: 'Permanent Marker', cursive;
}
/*header*/
ul {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;   
}
#logo,
#menu {
    line-height: 75px;    
}
/* ----- logo */
header img{
    float: left;
    position: relative;
    left: -60px;
    top: -90px;
    }
header{
    margin: 0;
    padding: 0;
}
nav li {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}
nav a {
    text-decoration: none;
    color: inherit;
}
nav a:hover {
    border-bottom: 1px solid rgb(127, 217, 245);
}
.active{
    border-bottom: 1px solid rgb(119, 119, 119);
}
/*end header*/
/*hero image */
#hero-outer{
  height: 700px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -150px;
}
.hero-image{
    height: 700px;
    width: 100%;
    background: url(../img/workout1.jpg) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;  
}
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
/*end hero image*/
/*cover text*/
#cover-text-1 {
    font-size: 115%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 250px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(127, 217, 245, 0.7);
    bottom: 60px;
    right: 150px;
    position: absolute;
}
#cover-text-2 {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 250px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(127, 217, 245, 0.7);
    Top: 60px;
    left: 150px;
    position: absolute;
}
/*cover text*/
/*gym creed*/
#gym-creed h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    top: -100px;
}
#gym-creed{
    height: 600px;
    width:100%;
    text-align:center;
}
#left-creed{
    padding-top: 30px;
    width: 28%;
    float:left;
}
#right-creed{
    padding-top: 30px;
    width: 28%;
    float: right;
}
#center-creed{
    padding-top: 30px;
    display: inline-block;
    margin:0 auto;
    width:44%;
}
hr {
    border-top: 5px solid rgb(85, 85, 85);
    width: 50%;
    margin: 5px 0;
}
.left-creed-heading {
    width: 33%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;    
}
/*affects contact page*/
.left-creed-heading-map{
    padding-top: 50px;
}
.center-creed-heading-padding{
    padding-top: 50px;
}
.right-creed-heading-padding{
    padding-top: 50px;
}
/*affects contact page*/
.right-creed-heading {
    width: 33%;
    float: left;
    line-height:20px;
    clear:both;
    margin-bottom:50px;
}
/*affects contact page*/
.right-creed-heading p{
    padding-bottom: 15px;
}
.center-creed-heading {
    width: 33%;
    display: inline-block;
    margin:0 auto;
    line-height:20px;
    clear:both;
    margin-bottom:50px;
}
/*affects contact page*/
.center-creed-heading p{
    padding-bottom: 15px;
}
h2 {
    color: rgb(85, 85, 85);
    font-family: 'Acme', sans-serif;
}
.container{
    background-color: rgba(127, 217, 245, 0.8);
    height: 400px;
    width: 80%;
    overflow: hidden;
    display: inline-block;
}
/* gym creed end*/
/* social networks*/
.footer{
    height: 50%;
}
.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
    position: relative;
    top: -50px;
}
.social-media i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: rgb(85, 85, 85);
}
/*end social networks*/
/*About gallery*/
.gallery-padding{
height: auto;
width: 100%;
overflow: hidden;
display: inline-block;
position: relative;
bottom: 150px;
left: 20px;
padding-top: 15px;
padding-bottom: 25px;
border-radius: 15px;
}
.gallery-padding {
    text-align: center;
    color:rgb(85, 85, 85);  
}
.gallery-padding img{
    border-radius: 15px;
}
.gallery-padding h2{
    padding-bottom: 15px;
}
.gallery-color{
    background-color: rgba(127, 217, 245, 0.5);
}
section img {
    border: 2px solid rgb(85, 85, 85);    
}
.btn-container{
    text-align: center;
}
.button {
  background-color: rgba(127, 217, 245, 0.2);
  border: 1px solid rgb(85, 85, 85);
  padding: 15px 25px;
  font-family: "montserrat";
  cursor: pointer;
  top: -50px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.button a{
    color: rgb(85, 85, 85);
    font-family: 'Indie Flower';
    font-size: 28px;
}
.button:hover{
  background-color: rgba(127, 217, 245);
}
.button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(127, 217, 245, 0.8);
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
button:hover::before{
    height: 180%;
}
/*About gallery finished*/
/*contact form*/
.contact-section{
    height: 700px;
    width: 90%;
    overflow: hidden;
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/black&whitegym.jpg) no-repeat center;    
    background-size: cover;
    border-radius: 15px;
    padding: 40px 0px;
    text-align: center;
    margin: 10px;
    left: 80px;    
}
.contact-section h1{
    text-align: center;
    color: white;
}
.contact-section hr{
    text-align: center;
}
.border{
    width: 100px;
    height: 10px;
    background: rgba(127, 217, 245);
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;   
}
.contact-form-text{
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: rgb(17, 17, 17);
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
} 
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px rgb(52, 73, 94);
}
textarea,contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    position: relative;
    top: 60px;
    border: 0;
    background:  rgba(127, 217, 245);
    color: #fff;
    padding: 12px 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: O.5s;    
}
.contact-form-btn:hover{
    background: rgb(52, 73, 94)
}
/*contact form end*/
/*pricing html*/
.pricing-container{
    height: 700px;
    width: 75%;
    overflow: hidden;
    position: relative;
    top: 150px;
    background: rgba(127, 217, 245);
}
#left-test{
    float: left;     
    padding-top: 50px;
    padding-left: 50px; 
}
#right-test{
    float: right;  
    padding-top: 50px;
    padding-right: 50px; 
}

#center-test{
    padding-top: 50px;
    display: inline-block;
    margin:0 auto;
}