@import url('https://fonts.googleapis.com/css?family=Acme|Indie+Flower|Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: rgb(119, 119, 119);
}
h1{
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-size-adjust: 120%;
}

h3{
    font-family: 'Permanent Marker', cursive;
}

/*header*/

ul {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;   
}

#logo,
#menu {
    line-height: 75px;    
}
/* ----- logo */
header img{
    float: left;
    position: relative;
    left: -60px;
    top: -90px;
    }

header{
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 1px solid rgb(127, 217, 245);
}

.active{
    border-bottom: 1px solid rgb(119, 119, 119);
}

/*end header*/

/*hero image */


#hero-outer{
  height: 700px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -150px;
}

.hero-image{
    height: 700px;
    width: 100%;
    background: url(../img/workout1.jpg) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}


@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/*end hero image*/



/*cover text*/
#cover-text-1 {

    font-size: 115%;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(127, 217, 245, 0.7);

    bottom: 60px;
    right: 150px;
    position: absolute;
}

#cover-text-2 {

    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(127, 217, 245, 0.7);

    Top: 60px;
    left: 150px;
    position: absolute;
}


/*cover text*/


/*gym creed*/

#gym-creed h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

    position: relative;
    top: -100px;
}

#gym-creed{
    height: 600px;
    width:100%;
    text-align:center;
}

#left-creed{
    padding-top: 30px;
    width: 28%;
    float:left;
}

#right-creed{
    padding-top: 30px;
    width: 28%;
    float: right;
}

#center-creed{
    padding-top: 30px;
    display: inline-block;
    margin:0 auto;
    width:44%;
}

hr {
    border-top: 1px solid rgb(127, 217, 245);
    width: 100%;
    margin: 5px 0;
}



.left-creed-heading {
    width: 33%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-creed-heading {
    width: 33%;
    float: left;
    line-height:20px;
    clear:both;
    margin-bottom:50px;
}

.center-creed-heading {
    width: 33%;
    display: inline-block;
    margin:0 auto;
    line-height:20px;
    clear:both;
    margin-bottom:50px;
}

h2 {
    color: rgb(85, 85, 85);
    font-family: 'Acme', sans-serif;
}

.container{
    background-color: rgba(127, 217, 245, 0.4);
    height: 400px;
    width: 80%;
    overflow: hidden;
    display: inline-block;
}
/* gym creed end*/

/* social networks*/

.footer{
    height: 50%;
}
.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
    position: relative;
    top: -50px;
}

.social-media i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: rgb(85, 85, 85);
}

/*end social networks*/

/*About gallery*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

